/* *{
  border: 1px dashed black;
}
 */

body {
  background-color: #2DC2E0;
}


h1 {
  font-family: 'Inconsolata', monospace;
/*   font-size: 50px; */
}


.box {
  border: 3px solid black;
  height: 130px;
  background-color: #b1b5bc;
  border-radius: 6px;
}

.emptybox {
  border: 3px solid blue;
  height: 130px;
  background-color: #6a6b6d;
  border-radius: 6px;
  background-image:url(http://i.imgur.com/ftMeO6B.png);
  background-size: cover;
  border-radius: 6px;
  max-width:100%;
  max-height:75%;
}

.bombbox {
  border: 3px solid red;
  height: 130px;
  background-color: #6a6b6d;
  background-image: url(http://simpleicon.com/wp-content/uploads/bomb.png);
  background-size: cover;
  border-radius: 6px;
  max-width:100%;
  max-height:75%;
}

.col-md-12 {
  font-size: 30px;
  text-align: center;
}

#board {
  margin-top: 8px;
}
