/* *{
  border: 1px dashed black;
}
 */

body {
  background-color: #2DC2E0;
}


h1 {
  font-family: 'Inconsolata', monospace;
/*   font-size: 50px; */
}


.box {
  border: 3px solid black;
  height: 130px;
  background-color: #b1b5bc;
  border-radius: 6px;
}

.emptybox {
  border: 3px solid black;
  height: 130px;
  background-color: black;
  border-radius: 6px;
}

.col-md-12 {
  font-size: 30px;
  text-align: center;
}

#board {
  margin-top: 8px;
}
